.vertical-container {
    padding: 20px;
    max-height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
}

.vertical-scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vertical-scroll-container .travel-entry {
    margin-bottom: 20px;
}

.vertical-scroll-container :last-child {
    margin-bottom: 0;
}


@media (max-width: 480px) {
    .vertical-container {
        max-height: 45vh;
    }
}

