.page-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    height: 90vh;
    background: radial-gradient(#372c2c, #292a33) !important;
    padding-top: 100px;
    padding-bottom: 200px;
}

.page-centered form {
    width: 40vw;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: radial-gradient(#26283a, #0e0e0f) !important;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .page-centered {
        padding-top: 10px;
        padding-bottom: 100px;
    }

    .page-centered form {
        width: 96vw;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}