.half-screen {
    min-height: 90vh;
    min-width: 50vw;
}

.flex-container-hor {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.mobile-top {
    min-height: auto;
}

@media (max-width: 480px) {
    .flex-container-ver {
        display: flex;
        flex-direction: column;
    }

    .half-screen {
        min-height: 40vh;
    }

    .mobile-top {
        min-height: 45vh;
    }

    .mobile-bottom {
        min-height: 40vh;
    }

}